body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around; 
    margin: 2em;
}

#main_process {
    border:3px outset rgba(255, 255, 255, 0.419);
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(5px);
    border-radius: 3%;


    width: 70vw;
    height: 80vh;
    font-size: 30px;
    /*
        毛玻璃特效
    */
    overflow: scroll;
    overflow-x: hidden;
}


/* https://www.freecodecamp.org/news/css-scrollbar-tutorial */
#main_process::-webkit-scrollbar {
    width: 10px;
}

#main_process::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
}



#main_process *{
    margin: 20px;
    border-bottom: 5px gray solid;
    overflow-wrap: break-word;
}
.bold {
    font-weight: bolder;
}
/* flex: 
    https://nicolakacha.coderbridge.io/2020/09/20/css-flex-grid-1/
*/
