body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    background-color: antiquewhite;
    background-image: url("data/pikachu_background.png");
    background-size: 1000px 1000px;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
}



#main_process *{
    margin: 20px;
    border-bottom: 5px gray dashed;
    overflow-wrap: break-word;
}
.bold {
    font-weight: bolder;
}
/* flex: 
    https://nicolakacha.coderbridge.io/2020/09/20/css-flex-grid-1/
*/
