body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around; 
    align-items:stretch;
    margin: 2em;
}

#info > div {
    margin-top: 20px;
    display: flex;
    justify-content: space-around; 
    width: 30%;
    min-width: 30%;
    max-width: 30%;
    font-size: large;
}

#main_process {
    border:3px outset rgba(255, 255, 255, 0.419);
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(5px);
    border-radius: 3%;


    width: 70vw;
    height: 80vh;
    font-size: 30px;
    /*
        毛玻璃特效
    */
    overflow: scroll;
    overflow-x: hidden;
}


/* https://www.freecodecamp.org/news/css-scrollbar-tutorial */
#main_process::-webkit-scrollbar {
    width: 10px;
}

#main_process::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
}



#main_process > *{
    margin: 20px;
    border-bottom: 5px gray solid;
    overflow-wrap: break-word;
}

#main_process .password {
    border-bottom: 0px red solid;
}

#main_process input {
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-radius: 10px;
    margin: 0px;
    font-size:x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


.center {
    display: flex;
    height: 30px;
    justify-content: center;
    padding-bottom: 20px;
}

.button_spacearound {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: space-around;
    padding-bottom: 0px;
}
#main_process button {
    border-bottom: 2px gray outset;
    border-radius: 10px;
    width: 100%;
    margin: 10px;
    padding: 10px;
}
#main_process button:hover{
    background-color: peru;
    color: white;
    border-bottom: 2px gray outset;
    border-radius: 10px;
    width: 100%;
    margin: 10px;
    padding: 20px;
}
#main_process button:active{
    background-color: rgb(189, 202, 9);
    color: white;
    border-bottom: 2px gray outset;
    border-radius: 10px;
    width: 100%;
    margin: 10px;
    padding: 20px;
}

.Choose {
    color:red;

}
.Choose::before {
    color: green;
    position: absolute;
}
.Choose::selection {
    color:gray;
}



.bold {
    font-weight: bolder;
}

/* flex: 
    https://nicolakacha.coderbridge.io/2020/09/20/css-flex-grid-1/
*/
